[submodule "deps/SDL/SDL"]
	path = deps/SDL/SDL
	url = https://github.com/libsdl-org/SDL
	branch = main
[submodule "deps/SDL/SDL_Image"]
	path = deps/SDL/SDL_Image
	url = https://github.com/libsdl-org/SDL_image
	branch = main
[submodule "deps/fltk"]
	path = deps/fltk
	url = https://github.com/fltk/fltk
